[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint_flask_sqlalchemy = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
uwsgi = "*"
gunicorn = "*"
requests = "*"
authlib = "*"
flask-login = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
marshmallow-enum = "*"
marshmallow = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-mail = "*"
pywebpush = "*"

[requires]
python_version = "3.8"
