[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint_flask_sqlalchemy = "*"
isort = "*"
python-language-server = "*"

[packages]
flask = "== 1.1.*"
flask-sqlalchemy = "== 2.4.*"
psycopg2-binary = "== 2.8.*"
uwsgi = "== 2.0.*"
gunicorn = "== 20.0.*"
requests = "== 2.24.*"
authlib = "== 0.14.*"
flask-login = "== 0.5.*"
flask-marshmallow = "== 0.13.*"
marshmallow-sqlalchemy = "== 0.23.*"
marshmallow-enum = "== 1.5.*"
marshmallow = "== 3.8.*"
flask-migrate = "== 2.5.*"
python-dotenv = "== 0.14.*"
flask-mail = "== 0.9.*"
pywebpush = "== 1.13.*"
flask-pywebpush = "== 1.1.*"
pillow = "== 8.1.*"

[requires]
python_version = "3.8"
