openapi: 3.0.1
info:
  title: Innopoints API
  description: Describes the endpoints exposed by the API of Innopoints. This is only for internal use at Innopolis University.
  # termsOfService: http://swagger.io/terms/
  contact:
    email: innopoints@innopolis.university
  # license:
  #   name: Apache 2.0
  #   url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0

externalDocs:
  description: Additional detailed documentation on Notion
  url: https://www.notion.so/innopoints/

servers:
- url: https://ipts.innopolis.university/api/v1/
- url: http://localhost:7507/api/v1/

tags:
- name: product
  description: Items you can buy from the store
- name: variety
  description: Variations of products
- name: project
  description: An event you can volunteer on
- name: activity
  description: They make up a project
- name: application
  description: Volunteer wants to work on an activity
- name: account
  description: Someone
- name: notification
  description: Telling someone that something happened
- name: random
  description: Random
- name: statistics
  description: General statistics

paths:
  /products:
    get:
      tags:
      - product
      summary: List all existing products
      operationId: listProducts
      parameters:
        - name: page
          description: Page number
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          description: Maximum number of products per page
          in: query
          schema:
            type: integer
            default: 24
            minimum: 1
          example: 10
        - name: order_by
          description: Parameter to sort products by
          in: query
          schema:
            type: string
            enum: [addition_time, price, purchases]
            default: addition_time
        - name: order
          description: Which way to order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: q
          description: Search query
          in: query
          schema:
            type: string
          required: false
        - name: min_price
          description: Minimum price of products
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
          example: 1337
        - name: max_price
          description: Maximum price of products
          in: query
          schema:
            type: integer
            default: null
            nullable: true
            minimum: 0
          example: 1337
        - name: excluded_colors
          description: Which colors (in hex form) to filter from the returned products. `"\0"` represents colorless
          in: query
          schema:
            type: array
            items:
              type: string
            default: []
          example: ["FF0000", "\0"]
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  pages:
                    type: integer
                    description: total number of pages with the given limit
                    minimum: 1
                    example: 6
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
        400:
          description: Invalid query
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Bad query parameters.
    post:
      tags:
      - product
      summary: Add a new item to the store
      operationId: addProduct
      requestBody:
        description: Item object to be added to the store
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
        required: true
      responses:
        200:
          description: Created product is returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        400:
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - innopolis_sso: []
  /products/{product_id}:
    parameters:
    - name: product_id
      in: path
      description: ID of the product in the database
      required: true
      schema:
        type: integer
        minimum: 1
    get:
      tags:
      - product
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        404:
          description: not found
    patch:
      tags:
      - product
      requestBody:
        description: What to edit
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        200:
          description: success. no payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        400:
          description: invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: unauthorized
        404:
          description: product not found
      security:
        - innopolis_sso: []
    delete:
      tags:
      - product
      responses:
        204:
          description: success. no payload
        400:
          description: Data integrity violated
        403:
          description: unauthorized
        404:
          description: product not found
      security:
        - innopolis_sso: []

  /products/{product_id}/varieties/:
    parameters:
    - name: product_id
      in: path
      description: ID of the product in the database
      required: true
      schema:
        type: integer
        minimum: 1
    post:
      tags:
        - variety
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Variety'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Variety'
        400:
          description: Data integrity violated
        403:
          description: unauthorized
        404:
          description: product not found

      security:
        - innopolis_sso: []
  /products/{product_id}/varieties/{variety_id}:
    parameters:
    - name: product_id
      in: path
      description: ID of the product in the database
      required: true
      schema:
        type: integer
        minimum: 1
    - name: variety_id
      in: path
      description: ID of the variety in the database
      required: true
      schema:
        type: integer
        minimum: 1
    patch:
      tags:
        - variety
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Variety'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Variety'
        400:
          description: invalid data
        403:
          description: unauthorized
        404:
          description: product/variety not found
      security:
        - innopolis_sso: []
    delete:
      tags:
        - variety
      responses:
        204:
          description: success. no payload
        400:
          description: invalid data
        403:
          description: unauthorized
        404:
          description: product/variety not found

      security:
        - innopolis_sso: []
  /products/{product_id}/varieties/{variety_id}/purchase:
    parameters:
    - name: product_id
      in: path
      description: ID of the product in the database
      required: true
      schema:
        type: integer
        minimum: 1
    - name: variety_id
      in: path
      description: ID of the variety in the database
      required: true
      schema:
        type: integer
        minimum: 1
    post:
      tags:
        - variety
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  minimum: 1
                  example: 1
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockChange'
        400:
          description: invalid data
        401:
          description: unauthorized
        404:
          description: product/variety not found

      security:
        - innopolis_sso: []
  /stock_changes/for_review:
    get:
      tags:
        - variety
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StockChange'
        403:
          description: unauthorized. admins only
      security:
        - innopolis_sso: []
  /stock_changes/{stock_change_id}/status:
    parameters:
      - name: stock_change_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
    patch:
      tags:
        - variety
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/StockChangeStatus'
      responses:
        204:
          description: success
        400:
          description: Invalid data
        403:
          description: unauthorized. admins only
        404:
          description: Stock Change not found
      security:
        - innopolis_sso: []
  /sizes:
    get:
      tags:
        - variety
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      $ref: '#/components/schemas/Variety/properties/size'
    post:
      tags:
      - variety
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  $ref: '#/components/schemas/Variety/properties/size'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    $ref: '#/components/schemas/Variety/properties/size'
        400:
          description: invalid request data
        403:
          description: unauthorized. admins only
      security:
        - innopolis_sso: []
  /colors:
    get:
      tags:
        - variety
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      $ref: '#/components/schemas/Variety/properties/color'
    post:
      tags:
      - variety
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  $ref: '#/components/schemas/Variety/properties/color'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    $ref: '#/components/schemas/Variety/properties/color'
        400:
          description: invalid request
        403:
          description: unauthorized. admins only
      security:
        - innopolis_sso: []

  /projects:
    get:
      tags:
      - project
      parameters:
        - name: order_by
          in: query
          schema:
            type: string
            enum: [creation_time, proximity]
            default: creation_time
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: asc
        - name: q
          in: query
          description: search query
          schema:
            type: string
            nullable: true
        - name: spots
          in: query
          description: Number of remaining spots
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: excluded_competences
          description: Which competences (IDs) to filter from the available activities.
          in: query
          schema:
            type: array
            items:
              type: integer
            default: []
          example: [1, 5]
        - name: start_date
          description: Latest possible starting date of an activity in the project.
          in: query
          schema:
            type: string
            format: date-time
            nullable: true
        - name: end_date
          description: Earliest possible starting date of an activity in the project.
          in: query
          schema:
            type: string
            format: date-time
            nullable: true
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - type: object
                    properties:
                      id:
                        type: integer
                  - $ref: '#/components/schemas/Project'
                  - type: object
                    properties:
                      varieties:
                        type: array
                        items:
                          $ref: '#/components/schemas/Activity'
        400:
          description: invalid query parameters
    post:
      tags:
      - project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        400:
          description: invalid request data
        401:
          description: unauthorized
      security:
        - innopolis_sso: []
  /projects/drafts:
    get:
      tags:
      - project
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
        401:
          description: unauthorized
      security:
        - innopolis_sso: []
  /projects/past:
    get:
      tags:
      - project
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            default: 12
        - name: q
          in: query
          schema:
            type: string
          required: false
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
        400:
          description: bad query parameters
  /projects/for_review:
    get:
      tags:
      - project
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
        403:
          description: unauthorized. admins only
      security:
      - innopolis_sso: []
  /projects/{project_id}/publish:
    patch:
      tags:
      - project
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        204:
          description: success. no payload
        400:
          description: invalid request data
        401:
          description: unauthorized
        404:
          description: project not found
      security:
        - innopolis_sso: []
  /projects/{project_id}/request_review:
    patch:
      tags:
      - project
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        204:
          description: success. no payload
        400:
          description: invalid request data
        401:
          description: unauthorized
        404:
          description: project not found
      security:
        - innopolis_sso: []
  /projects/{project_id}/finalize:
    patch:
      tags:
      - project
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        204:
          description: success. no payload
        400:
          description: invalid request data
        401:
          description: unauthorized
        404:
          description: project not found
        500:
          description: Moderation activity not found
      security:
        - innopolis_sso: []
  /projects/{project_id}/review_status:
    patch:
      tags:
      - project
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                review_status:
                  type: string
                  enum: [approved, rejected]
                admin_feedback:
                  type: string
                  nullable: true
                  example: Great work everyone!       
      responses:
        204:
          description: success. no payload
        400:
          description: invalid request data
        403:
          description: unauthorized
        404:
          description: project not found
      security:
        - innopolis_sso: []
  /projects/{project_id}:
    parameters:
    - name: project_id
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
    get:
      tags:
        - project
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        404:
          description: project not found
    patch:
      tags:
      - project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        400:
          description: invalid request data
        401:
          description: unauthorized
        404:
          description: project not found
    delete:
      tags:
      - project
      responses:
        204:
          description: success. no payload
        400:
          description: data integrity violated
        401:
          description: unauthorized
        404:
          description: project not found
      security:
        - innopolis_sso: []
  /projects/{project_id}/tags:
    patch:
      tags:
      - project
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                minimum: 1
              description: Array of tag IDs
      responses:
        204:
          description: success. no payload
        400:
          description: invalid request data
        401:
          description: unauthorized
        404:
          description: project not found
      security:
        - innopolis_sso: []
  /tags:
    get:
      tags:
      - project
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
    post:
      tags:
        - project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tag'
      responses:
        200:
          description: Added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        400:
          description: Data integrity violated
        403:
          description: unauthorized
      security:
        - innopolis_sso: []
  /tags/{tag_id}:
    parameters:
      - name: tag_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
    patch:
      tags:
        - project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tag'
      responses:
        200:
          description: Updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        400:
          description: Data integrity violated
        403:
          description: unauthorized
        404:
          description: Tag not found
      security:
        - innopolis_sso: []
    delete:
      tags:
        - project
      responses:
        204:
          description: Deleted successfully
        400:
          description: Data integrity violated
        403:
          description: unauthorized
        404:
          description: Tag not found
      security:
        - innopolis_sso: []

  /projects/{project_id}/activities:
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
    post:
      tags:
      - activity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activity'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        400:
          description: invalid data
        403:
          description: unauthorized
        404:
          description: project not found
      security:
        - innopolis_sso: []
  /projects/{project_id}/activities/{activity_id}:
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: activity_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
    patch:
      tags:
      - activity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activity'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        400:
          description: invalid data
        403:
          description: unauthorized
        404:
          description: project/activity not found
      security:
        - innopolis_sso: []
    delete:
      tags:
      - activity
      responses:
        204:
          description: success
        400:
          description: invalid data
        401:
          description: unauthorized
        404:
          description: project/activity not found
      security:
        - innopolis_sso: []
  /projects/{project_id}/activities/{activity_id}/publish:
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: activity_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
    patch:
      tags:
      - activity
      responses:
        204:
          description: success
        400:
          description: data integrity violated
        403:
          description: unauthorized
        404:
          description: project/activity not found
      security:
        - innopolis_sso: []
  /competences:
    get:
      tags:
        - activity
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Competence'
    post:
      tags:
        - activity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Competence'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Competence'
        400:
          description: invalid data
        403:
          description: unauthorized
      security:
        - innopolis_sso: []
  /competences/{competence_id}:
    parameters:
      - name: competence_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
    patch:
      tags:
        - activity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Competence'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Competence'
        400:
          description: invalide data
        403:
          description: unauthorized
        404:
          description: competence not found
      security:
        - innopolis_sso: []
    delete:
      tags:
        - activity
      responses:
        204:
          description: success. no payload
        400:
          description: invalid data
        401:
          description: unauthorized
      security:
        - innopolis_sso: []

  /projects/{project_id}/activities/{activity_id}/applications:
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: activity_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
    post:
      tags:
        - application
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        400:
          description: invalid data
        401:
          description: unauthorized
        404:
          description: project/activity not found
      security:
        - innopolis_sso: []
    delete:
      tags:
        - application
      responses:
        204:
          description: success
        400:
          description: invalid data
        401:
          description: unauthorized
        404:
          description: project/activity not found
      security:
        - innopolis_sso: []
  /projects/{project_id}/activities/{activity_id}/applications/{application_id}:
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: activity_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: application_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
    patch:
      tags:
        - application
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        400:
          description: invalid data
        401:
          description: unauthorized
        404:
          description: project/activity not found
      security:
        - innopolis_sso: []
  /projects/{project_id}/activities/{activity_id}/applications/{application_id}/report_info:
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: activity_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: application_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
    get:
      tags:
        - application
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  average_rating:
                    type: integer
                  reports:
                    type: array
                    items:
                      $ref: '#/components/schemas/VolunteeringReport'
        400:
          description: invalid data
        401:
          description: unauthorized
        404:
          description: project/activity not found
      security:
        - innopolis_sso: []
  /projects/{project_id}/activities/{activity_id}/applications/{application_id}/report:
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: activity_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: application_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
    post:
      tags:
        - application
      requestBody:
        content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolunteeringReport'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolunteeringReport'
        400:
          description: invalid data
        403:
          description: unauthorized
        404:
          description: project/activity not found
      security:
        - innopolis_sso: []
    patch:
      tags:
        - application
      requestBody:
        content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolunteeringReport'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolunteeringReport'
        400:
          description: invalid data
        403:
          description: unauthorized
        404:
          description: project/activity not found
      security:
        - innopolis_sso: []
    delete:
      tags:
        - application
      responses:
        204:
          description: success
        400:
          description: invalid data
        403:
          description: unauthorized
        404:
          description: project/activity not found
      security:
        - innopolis_sso: []
  /projects/{project_id}/activities/{activity_id}/applications/{application_id}/feedback:
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: activity_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: application_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
    post:
      tags:
        - application
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                answers:
                  type: array
                  items:
                    type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  answers:
                    type: array
                    items:
                      type: string
                  time:
                    type: string
                    format: date-time
        400:
          description: invalid data
        401:
          description: unauthorized
        404:
          description: project/activity/application not found

  /accounts:
    get:
      tags:
      - account
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            default: 25
        - name: q
          in: query
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  pages:
                    type: integer
                    example: 17
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
        400:
          description: invalid request data
        401:
          description: unauthorized
      security:
        - innopolis_sso: []
  /accounts/groups:
    get:
      tags:
        - account
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        403:
          description: unauthorized. admins only
      security:
        - innopolis_sso: []
  /accounts/{email}:
    parameters:
    - name: email
      in: path
      description: email of the requested account
      required: true
      schema:
        type: string
        format: email
        nullable: true
    get:
      tags:
      - account
      summary: Get current user info
      description: If the user is logged in, get their information
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        401:
          description: unauthorized.
        404:
          description: Account not found
      security:
      - innopolis_sso: []
  /account:
    $ref: '#/paths/~1accounts~1%7Bemail%7D'
  /accounts/{email}/balance:
    parameters:
    - name: email
      in: path
      description: email of the requested account
      required: true
      schema:
        type: string
        format: email
    patch:
      tags:
      - account
      summary: Modify the user's balance
      description: Update the user's balance by a number that can be positive or negative
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                change:
                  type: integer
                  example: 340
      responses:
        204:
          description: success. no payload
        403:
          description: unauthorized
      security:
      - innopolis_sso: []
  /accounts/{email}/timeline:
    parameters:
      - name: email
        in: path
        required: true
        schema:
          type: string
          format: email
          nullable: false
    get:
      tags:
      - account
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        entry_time:
                          type: string
                          format: date-time
                        type:
                          type: string
                          enum: [application, purchase, promotion, project]
                        payload:
                          type: object
                          oneOf:
                          - $ref: '#/components/schemas/Application'
                          - $ref: '#/components/schemas/StockChange'
                          - $ref: '#/components/schemas/Notification'
                          - $ref: '#/components/schemas/Project'
                  more:
                    type: boolean
        401:
          description: unauthorized
        404:
          description: account not found
      security:
        - innopolis_sso: []
  /account/timeline:
    $ref: '#/paths/~1accounts~1%7Bemail%7D~1timeline'  
  /accounts/{email}/statistics:
    parameters:
      - name: email
        in: path
        required: true
        schema:
          type: string
          format: email
          nullable: false 
    get:
      tags:
        - account
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  hours:
                    type: integer
                    default: 0
                    description: total number of hours volunteered
                  positions:
                    type: integer
                    description: Number of times volunteered
                  rating:
                    type: number
                    default: 0
                  competences:
                    type: array
                    items:
                      type: object
                      properties:
                        amount:
                          type: integer
                        id:
                          type: integer
                        name:
                          type: string
        400:
          description: invalid request data
        401:
          description: unauthorized
      security:
        - innopolis_sso: []
  /account/statistics:
    $ref: '#/paths/~1accounts~1%7Bemail%7D~1statistics'
  /accounts/{email}/notification_settings:
    parameters:
      - name: email
        in: path
        required: true
        schema:
          type: string
          format: email
          nullable: false
    get:
      tags:
        - account
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettings'
        401:
          description: unauthorized
        404:
          description: account not found
      security:
        - innopolis_sso: []
    patch:
      tags:
      - account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationSettings'
      responses:
        204:
          description: success. no payload
        400:
          description: invalid request data
        401:
          description: unauthorized.
        404:
          description: account not found
      security:
        - innopolis_sso: []
  /account/notification_settings:
    $ref: '#/paths/~1accounts~1%7Bemail%7D~1notification_settings'
  /accounts/{email}/telegram:
    parameters:
      - name: email
        in: path
        required: true
        schema:
          type: string
          format: email
          nullable: false
    patch:
      tags:
      - account
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                telegram_username:
                  type: string
      responses:
        204:
          description: success. no payload
        400:
          description: invalid request data
        401:
          description: unauthorized
        404:
          description: account not found
      security:
        - innopolis_sso: []
  /account/telegram:
    $ref: '#/paths/~1accounts~1%7Bemail%7D~1telegram'
  /accounts/{email}/notify:
    parameters:
      - name: email
        in: path
        required: true
        schema:
          type: string
          format: email
          nullable: false
    post:
      tags:
        - account
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
      responses:
        204:
          description: success. no payload
        400:
          description: invalid request data
        403:
          description: unauthorized
      security:
        - innopolis_sso: []
  /reclaim-innopoints:
    description: Get the innopoints the user had on the old system
    post:
      tags:
        - account
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: integer
        400:
          description: data integrity violated
        403:
          description: Incorrect email/password

  /notifications:
    get:
      tags:
        - notification
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'
        401:
          description: unauthorized
      security:
        - innopolis_sso: []
  /notifications/subscribe:
    post:
      tags:
        - notification
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                keys:
                  type: object
                  properties:
                    auth:
                      type: string
                    p256dh:
                      type: string
                endpoint:
                  type: string
      responses:
        204:
          description: success
        400:
          description: invalid data
        401:
          description: unauthorized
      security:
        - innopolis_sso: []
  /notifications/{notification_id}/read:
    parameters:
      - name: notification_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
    patch:
      tags:
        - notification
      responses:
        204:
          description: success
        401:
          description: unauthorized
        404:
          description: notification not found
      security:
        - innopolis_sso: []

  /random_page:
    get:
      tags:
        - random
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string

  /statistics/competences:
    get:
      tags:
        - statistics
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time 
        - name: group
          in: query
          schema:
            type: array
            items:
              type: string
        - name: tag
          in: query
          schema:
            type: number
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  amount:
                    type: number
        403:
          description: unauthorized. admins only
  /statistics/hours:
    get:
      tags:
        - statistics
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time 
        - name: group
          in: query
          schema:
            type: array
            items:
              type: string
        - name: tag
          in: query
          schema:
            type: number
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: number
                default: 0
        403:
          description: unauthorized. admins only
  /statistics/innopoints:
    get:
      tags:
        - statistics
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time 
        - name: group
          in: query
          schema:
            type: array
            items:
              type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: number
                default: 0
        403:
          description: unauthorized. admins only

components:
  schemas:
    Account:
      type: object
      properties:
        full_name:
          type: string
          example: Abdelrahman Abounegm
        group:
          type: string
          example: BS18-04
          nullable: true
        email:
          type: string
          format: email
        telegram_username:
          type: string
          minLength: 4
          maxLength: 32
          nullable: true
        is_admin:
          type: boolean
          default: false
        balance:
          type: integer
    Transaction:
      type: object
      properties:
        id:
          type: integer
          minimum: 1
          readOnly: true
        account_email:
          type: string
          format: email
        change:
          type: integer
        stock_change_id:
          type: integer
          minimum: 1
          nullable: true
        feedback_id:
          type: integer
          minimum: 1
          nullable: true

    Product:
      type: object
      properties:
        id:
          type: integer
          minimum: 1
          readOnly: true
        name:
          type: string
          example: ASCII Whale
        type:
          type: string
          nullable: true
          example: T-Shirt
        description:
          type: string
          example: Just a shirt
        varieties:
          type: array
          items:
            $ref: '#/components/schemas/Variety'
          minLength: 1
        price:
          type: integer
        addition_time:
          type: string
          format: date-time
          readOnly: true
    Variety:
      type: object
      properties:
        id:
          type: integer
          minimum: 1
          readOnly: true
        product_id:
          type: integer
          minimum: 1
        size:
          type: string
          maxLength: 3
          nullable: true
          example: XL
        color:
          type: string
          minLength: 6
          maxLength: 6
          nullable: true
          example: c0ff32
        images:
          type: array
          items:
            type: object
            properties:
              image_id:
                type: integer
                minimum: 1
              order:
                type: integer
    StockChange:
      type: object
      properties:
        id:
          type: integer
          minimum: 1
          readOnly: true
        amount:
          type: integer
        time:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/StockChangeStatus'
        account_email:
          type: string
          format: email
        variety_id:
          type: integer
          minimum: 1
    StockChangeStatus:
      type: string
      enum:
      - pending
      - ready_for_pickup
      - carried_out
      - rejected
      example: pending

    Project:
      type: object
      properties:
        id:
          type: integer
          minimum: 1
          readOnly: true
        name:
          type: string
          example: Olympiad
        image_id:
          type: integer
          nullable: true
        creation_time:
          type: string
          format: date-time
        organizer:
          type: string
          example: Events department
          nullable: true
        creator_email:
          type: string
          format: email
        admin_feedback:
          type: string
          maxLength: 1024
          nullable: true
        review_status:
          type: string
          enum: [pending, approved, rejected]
          nullable: true
        lifetime_stage:
          type: string
          enum: [draft, ongoing, finalizing, finished]
          default: draft
    Activity:
      type: object
      properties:
        id:
          type: integer
          minimum: 1
          readOnly: true
        name:
          type: string
          maxLength: 128
          nullable: true
        description:
          type: string
          maxLength: 1024
          nullable: true
        timeframe:
          type: object
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
          nullable: true
        project_id:
          type: integer
          minimum: 1
        working_hours:
          type: integer
          minimum: 1
          default: 1
        reward_rate:
          type: integer
          minimum: 0
          default: 70
        fixed_reward:
          type: boolean
          default: false
        people_required:
          type: integer
          minimum: 0
          default: 0
        telegram_required:
          type: boolean
          default: false
        feedback_question:
          type: array
          items:
            type: string
          example:
           - "What did you learn from this volunteering opportunity?"
           - "What could be improved in the organization?"
    Competence:
      type: object
      properties:
        id:
          type: integer
          minimum: 1
          readOnly: true
        name:
          type: string
          example: Teamwork
    Tag:
      type: object
      properties:
        id:
          type: integer
          minimum: 1
          readOnly: true
        name:
          type: string

    Application:
      type: object
      properties:
        id:
          type: integer
          minimum: 1
          readOnly: true
        applicant_email:
          type: string
          format: email
          maxLength: 128
        activity_id:
          type: integer
          minimum: 1
        comment:
          type: string
          maxLength: 1024
        application_time:
          type: string
          format: date-time
        telegram_username:
          type: string
          maxLength: 32
        status:
          type: string
          enum: [approved, pending, rejected]
        actual_hours:
          type: integer
    VolunteeringReport:
      type: object
      properties:
        reporter_email:
          type: string
          readOnly: true
        time:
          type: string
          format: date-time
        content:
          type: string
          nullable: true
        application_id:
          type: integer
          readOnly: true
        rating:
          type: integer
          minimum: 1
          maximum: 5

    Notification:
      type: object
      properties:  
        id:
          type: integer
          minimum: 1
          readOnly: true
        recipient_email:
          type: integer
          format: email
        is_read:
          type: boolean
          default: false
        payload:
          type: object
        timestamp:
          type: string
          format: date-time
        type:
          type: string
          enum:
          - purchase_status_changed
          - new_arrivals
          - claim_innopoints
          - application_status_changed
          - service
          - manual_transaction
          - project_review_status_changed
          - all_feedback_in
          - added_as_moderator
          - out_of_stock
          - new_purchase
          - project_review_requested
    NotificationSettings:
      type: object
      properties:
        innostore:
          type: string
          enum: [off, email, push]
        volunteering:
          type: string
          enum: [off, email, push]
        project_creation:
          type: string
          enum: [off, email, push]
        administration:
          type: string
          enum: [off, email, push]
        service:
          type: string
          enum: [email, push]

    Error:
      type: object
      properties:
        message:
          type: string
          example: invalid input

  securitySchemes:
    innopolis_sso:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: /login
          scopes: {}
    api_key:
      type: apiKey
      name: api_key
      in: cookie
